@use "../scss/bootstrap.scss" as var;

.text-third {
    color: #009261 !important;
}

.bg-third {
    background-color: #45ac89;
    color: white;
    border-radius: 10px 10px 0 0;
}

.border-none {
    border: none;
}

// Stylesheet for admin dashboard page
.navbar {
    border: none;
    z-index: 2;
}

// Logo area
#logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    display: block;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.title-font {
    font-family: 'Fredoka One', sans-serif;
}

// For the wesbsite title
.website-title {
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    padding: 0;
    color: #db1ea6;
    font-size: 1.5rem;
    // margin-bottom: 5px;
    transform: translateY(-10px);
}

.shadow {
    overflow: hidden !important;
    border: none !important;
    box-shadow: 4px 3px 1px var.$secondary !important;
    border-radius: 6px !important;
}

// To make the icons white
.white-icon {
    color: white;
}

// Styles for the home 
#admin-home-btn {
    color: #fff;


}



// Styles for the add nfc tag div area 

#add-NFC-div {
    // Hide the form section
    max-height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    top: -300px;
    transition: all 0.5s ease;
}

#add-NFC-div.show {
    // show the form section
    overflow: visible;
    opacity: 1;
    top: 0;
    max-height: fit-content;
}

#add-nfc {
    transition: all;
    color: white !important;
}

.asterisk {
    font-size: 10px
}

.pointer {
    cursor: pointer;
}

#submit-add {
    box-shadow: 2px 2px 1px var.$secondary;
}


// Table 
.table-head {
    background-color: var.$primary;
}

thead {

    background-color: #FB488C !important;
    /* your pink */
    color: white;

    background-color: #FFD6E6;
    /* soft tint */
    color: #2A2A2A;

    th:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 5px;
    }

    th:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 5px;
    }
}

.table-heading {
    background-color: #FB488C !important;
    /* your pink */
    color: white !important;
}

// Socials Section
.social-label {
    margin-left: 5px;
}

#remove-social {
    display: none;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    padding: 0;
    align-self: flex-end;
}

#add-social {
    display: inline-block;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    padding: 0;
    align-self: flex-end;
}


// #extra-socials {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: 10px;

// }






// Hide the confirm delete prompt
#confirm-delete-toast {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    position: fixed;
    right: 0;
    bottom: 1%;
}

.alert {
    background-color: #e29b02;
    color: #f4f4f4;
}

#confirm-delete-toast.show {
    opacity: 1;
    max-width: 30rem;
}

.hover:hover {
    opacity: 0.8;
}




// More Info Icon
.info-row {
    margin-right: 5px
}




// Info Modal Styles
#edit-panel-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;
}

#edit-panel {
    position: relative;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    width: 90%;
    transform: translateY(-100vh);
    transition: all 0.5s ease-in-out;
}

#edit-panel.show {
    transform: translateY(0)
}

#edit-panel-socials-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: auto;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}



.normal-disabled {
    background-color: white !important;
}

.btn-xsm {
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 12px;
    padding: 0;

}

#edit-panel-add-social-button-div {
    display: block;
    height: 50px;
}

#edit-panel-add-button-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}