// Variables
$lgreen: white;
// Custom Variables
$primary: #fb488c;
$primary-darker: #ad1f55;
$secondary: #6633fe;

// Body 
body {
    font-family: Viga, sans-serif;
}

// For bg
.bg-lgreen {
    background-color: $lgreen !important;
    border: none;
}

// General Styles
.text-dark-warning {
    color: gold;
}

.text-off-white {
    color: whitesmoke !important
}

// For navbar
.navbar {
    border: none;
    color: black;
}

// Logo area
#logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    display: block;
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}


// For the wesbsite title
.website-title {
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    padding: 0;
    color: $primary;
    font-size: 1.5rem;
    // margin-bottom: 5px;
    transform: translateY(-10px);
}

// To make the icons white
.white-icon {
    color: white;
}

// To Align the navbar icon to the right
#magnifying-glass-div {
    :hover {
        background-color: $primary-darker;
    }

    display: flex;
    align-items: end;
    justify-content: end;
    border: none !important;
}

#change-location-collapse-btn :hover {
    background-color: transparent;
}

// To align the search to the right
.search {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    // min-height: 7px;
}

.shadow {
    overflow: hidden !important;
    border: none !important;
    box-shadow: 4px 3px 1px $secondary !important;
    border-radius: 6px !important;
}

// To shorten the search inputs width
#area {
    max-width: 190px;
}


// nearby restaraunts card
#get-nearby-card {
    background-color: $lgreen;
    border: none;
}

// Restaurant List
#restaurant-list {
    margin-top: 5px;
}

// Restaurant Card

.restaurant-card {
    background-color: $primary;
    border: none;
    color: #1a1a1a;
}

h2 {
    padding: 0;
    margin: 0;
}

.heading-rating {
    text-align: center;
}

.heading {
    margin: none;
    padding: none
}

// Restaraunt Info
.restaurant-info {
    min-width: 215px;
}

// Address Font size
.address-fs {
    font-size: 16px;
}

.addressLink:hover {
    opacity: 0.7;
}




// Opening Hours
#opening-hours-btn {
    color: white;

}

.opening-hours {
    text-align: left;
    color: white;
}