.navbar {
  border: none;
  z-index: 2;
}

.website-title {
  color: #fff;
  font-size: 2rem;
}

.white-icon {
  color: white;
}

#admin-home-btn {
  color: #fff;
}

#add-NFC-div {
  max-height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  top: -300px;
  transition: all 0.5s ease;
}

#add-NFC-div.show {
  overflow: visible;
  opacity: 1;
  top: 0;
  max-height: fit-content;
}

#add-nfc {
  transition: all;
}

.asterisk {
  font-size: 10px;
}

.pointer {
  cursor: pointer;
}

.social-label {
  margin-left: 5px;
}

#remove-social {
  display: none;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  padding: 0;
  align-self: flex-end;
}

#add-social {
  display: inline-block;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  padding: 0;
  align-self: flex-end;
}

#confirm-delete-toast {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-width: 0;
  white-space: nowrap;
  position: fixed;
  right: 0;
  bottom: 1%;
}

.alert {
  background-color: #e29b02;
  color: #f4f4f4;
}

#confirm-delete-toast.show {
  opacity: 1;
  max-width: 30rem;
}

.hover:hover {
  opacity: 0.8;
}
